/*
 * Styles for basic elements, such as lists.
 */

/*
 * Slide title properties, including the horizontal rule below it.
 */

.title {
 position: absolute;
 top: 2%;
 left: 5%;
 color: #214478;
 font-size: 40px;
 width: 90%;
}

.title > p {
 margin: 0;
}

.title > hr {
 margin-top: 10px;
 border: 0;
 border-top: 7px solid #214478;
 box-shadow: 3px 3px #AAAAFF;
}

/*
 * Unordered lists.
 */

ul {
 counter-reset: item;
 padding: 0;
 padding-left: 5px;
 list-style-position: inside;
}

ul ul {
 padding-left: 40px;
 margin-top: 5px;

}

ul li {
 margin-bottom: 5px;
 list-style-image: url(../img/bullet1.png);
}

ul li ul li {
 margin-bottom: 5px;
 list-style-image: url(../img/bullet2.png);
 font-size: 20px;
}

ul li ul li ul li {
 padding-top: 5px;
 margin-bottom: 5px;
 list-style-image: url(../img/bullet3.png);
 font-size: 17px;
}

/*
 * Ordered lists.
 */

ol > li {
  list-style-image: initial;
}

ol {
 counter-reset: item;
 padding: 0;
 padding-left: 5px;
 list-style-type: none;
}

ol ol {
 padding-left: 40px;
}

li {
 counter-increment: item;
}

ol li:before {
 margin-right: 15px;
 content: counter(item);
 background: #214478;
 border-radius: 100%;
 color: white;
 width: 30px;
 height: 30px;
 line-height: 28px;
 text-align: center;
 display: inline-block;
 font-size: 20px;
}

/*
 * Mixed lists.
 */

ol ul li:before {
 margin-right: 15px;
 content: initial;
}

ol ul {
 padding-left: 40px;
}

ul ol {
 padding-left: 40px;
}

/*
 * Multi-column slides (two, three or four columns).
 */

.col-2 {
 width: 50%;
 float: left;
}

.col-3 {
 width: 33%;
 float: left;
}

.col-4 {
 width: 25%;
 float: left;
}

/*
 * Colored text.
 */

.red { color: #fa0000; }
.alert { color: #214478;}

/*
 * Centering.
 */

.center {text-align: center;}

/*
 * Right Align.
 */

.right{text-align: right;}

/*
 * Headers.
 */

h1, h2, h3, h4 {
  color: #214478;
}
/*
 * Iframe for external link
 */

 .wrapper-md { width: 820px; height: 470px; padding: 0; }
 .scaled-frame-md { width: 1140px; height: 600px; border: 0px; }
 .scaled-frame-md {
     /*zoom: 0.71;*/
     -moz-transform: scale(0.71);
     -moz-transform-origin: 0 0;
     -o-transform: scale(0.71);
     -o-transform-origin: 0 0;
     -webkit-transform: scale(0.71);
     -webkit-transform-origin: 0 0;
 }

 @media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame  { zoom: 1;  }
