<body>
    <head></head>
    <body>
        <h1>Bem-vindo ao sistema!</h1>

        Por favor, forneça suas credenciais:<br>
        <form action="/login" method="post">
            <label for="username">Nome de Usuário:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="password">Palavra-passe:</label><br>
            <input type="password" id="password" name="password" value=""><br><br>
            <input type="submit" value="Enviar">
        </form>
</body>